In [1]:
import quandl
import pandas as pd
titani_train = pd.read_html('http://www.theus50.com/fastfacts/capital.php')

print(titani_train[0])

             State         Capital                  Nickname
0          Alabama      Montgomery    The Yellowhammer State
1           Alaska          Juneau         The Last Frontier
2          Arizona         Phoenix    The Grand Canyon State
3         Arkansas     Little Rock         The Natural State
4       California      Sacramento          The Golden State
5         Colorado          Denver      The Centennial State
6      Connecticut        Hartford    The Constitution State
7         Delaware           Dover           The First State
8          Florida     Tallahassee        The Sunshine State
9          Georgia         Atlanta           The Peach State
10          Hawaii        Honolulu           The Aloha State
11           Idaho           Boise             The Gem State
12        Illinois     Springfield           Land of Lincoln
13         Indiana    Indianapolis         The Hoosier State
14            Iowa      Des Moines         The Hawkeye State
15          Kansas          Topeka       The Sunflower State
16        Kentucky       Frankfort       The Bluegrass State
17       Louisiana     Baton Rouge         The Pelican State
18           Maine         Augusta       The Pine Tree State
19        Maryland       Annapolis        The Old Line State
20   Massachusetts          Boston             The Bay State
21        Michigan         Lansing     The Great Lakes State
22       Minnesota      Saint Paul      The North Star State
23     Mississippi         Jackson        The Magnolia State
24        Missouri  Jefferson City         The Show Me State
25         Montana          Helena        The Treasure State
26        Nebraska         Lincoln      The Cornhusker State
27          Nevada     Carson City          The Silver State
28   New Hampshire         Concord         The Granite State
29      New Jersey         Trenton          The Garden State
30      New Mexico        Santa Fe   The Land of Enchantment
31        New York          Albany          The Empire State
32  North Carolina         Raleigh        The Tar Heel State
33    North Dakota        Bismarck    The Peace Garden State
34            Ohio        Columbus         The Buckeye State
35        Oklahoma   Oklahoma City          The Sooner State
36          Oregon           Salem          The Beaver State
37    Pennsylvania      Harrisburg        The Keystone State
38    Rhode Island      Providence           The Ocean State
39  South Carolina        Columbia        The Palmetto State
40    South Dakota          Pierre      Mount Rushmore State
41       Tennessee       Nashville       The Volunteer State
42           Texas          Austin       The Lone Star State
43            Utah  Salt Lake City         The Beehive State
44         Vermont      Montpelier  The Green Mountain State
45        Virginia        Richmond    The Old Dominion State
46      Washington         Olympia       The Evergreen State
47   West Virginia      Charleston        The Mountain State
48       Wisconsin         Madison          The Badger State
49         Wyoming        Cheyenne        The Equality State